obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.AssemblyInfo.cs
bin/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.deps.json
bin/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.dll
bin/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.pdb
bin/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.runtimeconfig.json
bin/Debug/netcoreapp2.2/MyAdminApiLib.dll
obj/CustomerOnboardngStarterKit.csproj.nuget.cache
obj/CustomerOnboardngStarterKit.csproj.nuget.dgspec.json
obj/CustomerOnboardngStarterKit.csproj.nuget.g.props
obj/CustomerOnboardngStarterKit.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.assets.cache
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.csproj.CopyComplete
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.dll
obj/Debug/netcoreapp2.2/CustomerOnboardngStarterKit.pdb
obj/netcoreapp2.2/win10-x64/host/CustomerOnboardngStarterKit.exe
/.vs/CustomerOnboardngStarterKit/DesignTimeBuild/.dtbcache
/.vs/CustomerOnboardngStarterKit/v16/.suo
/.vs/CustomerOnboardngStarterKit/DesignTimeBuild/.dtbcache
/.vs/CustomerOnboardngStarterKit/v16/.suo
/.vs/CustomerOnboardngStarterKit/v16/Server/sqlite3
/.vs/CustomerOnboardngStarterKit/v16/Server/sqlite3/db.lock
/.vs/CustomerOnboardngStarterKit/v16/Server/sqlite3/storage.ide
/bin
/obj
/Properties/PublishProfiles
/Properties/PublishProfiles
/CustomerOnboardngStarterKit.csproj.user
/.vs/CustomerOnboardngStarterKit/DesignTimeBuild/.dtbcache.v2
